In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in aprt one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kastamonu,TR,2020-11-27 03:58:11,41.50,33.67,29.25,96,0,1.41
1,1,Bambous Virieux,MU,2020-11-27 03:58:11,-20.34,57.76,79.00,73,20,12.75
2,2,New Norfolk,AU,2020-11-27 03:58:11,-42.78,147.06,81.00,26,54,5.99
3,3,Bowen,AU,2020-11-27 03:58:11,-20.02,148.23,87.80,52,46,16.11
4,4,Bluff,NZ,2020-11-27 03:58:12,-46.60,168.33,54.00,68,59,15.99

In [3]:
# Recall DataFrame types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use yout Google API key
gmaps.configure(api_key=g_key)

In [5]:
# # Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", 'Lng']]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", 'Lng']]
humidity = city_data_df['Humidity']
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", 'Lng']]
cloudiness = city_data_df['Cloudiness']
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
# Get the latitude and longitude
locations = city_data_df[["Lat", 'Lng']]
wind_speed = city_data_df['Wind Speed']
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] > min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bambous Virieux,MU,2020-11-27 03:58:11,-20.34,57.76,79.00,73,20,12.75
2,2,New Norfolk,AU,2020-11-27 03:58:11,-42.78,147.06,81.00,26,54,5.99
3,3,Bowen,AU,2020-11-27 03:58:11,-20.02,148.23,87.80,52,46,16.11
10,10,Byron Bay,AU,2020-11-27 03:58:12,-28.65,153.62,82.00,54,1,13.87
12,12,Srandakan,ID,2020-11-27 03:58:12,-7.94,110.25,84.49,60,78,6.98
...,...,...,...,...,...,...,...,...,...,...
549,549,Ranong,TH,2020-11-27 03:59:29,9.97,98.63,84.20,74,40,16.11
550,550,Sinnamary,GF,2020-11-27 03:59:29,5.38,-52.95,76.84,87,19,9.15
552,552,Gamba,GA,2020-11-27 03:59:30,-2.65,10.00,75.51,91,97,4.12
555,555,Poya,NC,2020-11-27 03:59:31,-21.35,165.15,80.01,56,1,12.95
558,558,Kuching,MY,2020-11-27 03:58:22,1.55,110.33,80.60,88,75,5.82

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

               City Country  Max Temp    Lat     Lng Hotel Name
1   Bambous Virieux      MU     79.00 -20.34   57.76
2       New Norfolk      AU     81.00 -42.78  147.06
3             Bowen      AU     87.80 -20.02  148.23
10        Byron Bay      AU     82.00 -28.65  153.62
12        Srandakan      ID     84.49  -7.94  110.25

In [14]:
# Set paramenters to search for a hotel
params = {
    'radius':5000,
    'type':'lodging',
    'key': g_key
}

In [15]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get lat and long
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'

    
    # Use the search term: 'lodging' and our lat and long
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... skiping")

Hotel not found... skiping
Hotel not found... skiping
Hotel not found... skiping
Hotel not found... skiping
Hotel not found... skiping
Hotel not found... skiping
Hotel not found... skiping
Hotel not found... skiping

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bambous Virieux,MU,79.00,-20.34,57.76,Casa Tia Villa
2,New Norfolk,AU,81.00,-42.78,147.06,The Shingles Riverside Cottages
3,Bowen,AU,87.80,-20.02,148.23,Castle Motor Lodge Motel
10,Byron Bay,AU,82.00,-28.65,153.62,Backpackers Inn on the Beach
12,Srandakan,ID,84.49,-7.94,110.25,Puri Brata
...,...,...,...,...,...,...
549,Ranong,TH,84.20,9.97,98.63,Tinidee Hotel@Ranong
550,Sinnamary,GF,76.84,5.38,-52.95,ALETHEIA Appartement Sinnamary
552,Gamba,GA,75.51,-2.65,10.00,
555,Poya,NC,80.01,-21.35,165.15,
558,Kuching,MY,80.60,1.55,110.33,Hilton Kuching

In [30]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
'''

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# # Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df['Max Temp']
temps = [max(temp, 0) for temp in max_temp]
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))